@model string
@{
    Layout = null;
}

@using HelperMethods.Infrastructure

@*@helper ListArrayItems(string[] items)
{
    <ul>
        @foreach (var str in items)
        {
        <li>@str</li>
        }
    </ul>

}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*<div>
        Here are the Fruits:
        @Html.ListArrayItems((string[])ViewBag.Fruits)
    </div>
    <div>
        Here are the Cities:
        @Html.ListArrayItems((string[])ViewBag.Cities)
    </div>
    <div>
        Here is the message:
        <p>@Model</p>
    </div>*@
    
    
    <p>This is the content from the view:</p>
    <div style="border: thin solid black; padding: 10px">
        Here is the message:
        <p>@Model</p>
    </div>
    
    <p>This is the content from the helper method:</p>
    <div style="border: thin solid black; padding: 10px">
        @Html.DisplayMessage(Model)
    </div>

</body>
</html>
